body {
    background-color: grey;
}

.card {
    border: 6px solid black;
    background-color: white;
    width: 240px;
    border-radius: 10px;
    padding: 0 0 34px 0;
    margin: auto;
    margin-top: 24px;
    box-shadow: 0 16px 32px rgb(135, 19, 135);
}

.image {
    padding: 7px;
}

.image img {
    border-radius: 10px;
}

.text {
    padding: 7px 13px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.capsules {
    padding: 0px 20px 0px 14px;
}

.capsules span {
    border: 2px solid black;
    padding: 7px;
    font-size: 7px;
    border-radius: 10px;
    background-color: aliceblue;
}

.capsules span:hover {
    background-color: lightgray;
    color: blue;
}

.button {
    text-align: center;
}

.button button {
    padding: 7px 15px;
    border-radius: 15px;
    background-color: rgb(216, 236, 253);
    color: rgb(4, 79, 125);
    font-size: 10px;
    margin-top: 7px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.button button:hover {
    background-color: lightgoldenrodyellow;
    color: cyan;
}
